<masonry class="row mt-5">
  <div class="blog-grids">

    <div class="grid" *ngFor="let article of (articles); trackBy: trackElement">

     <div  class="entry-media" style=" " >
        <img  [src]="imagePath + article.image " >
      </div>
      <div class="entry-body">
        <span class="cat">{{article.title}}</span>
        <h3><a [routerLink]="['/article/', article.id]">Visit {{article.title}}</a></h3>
        <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut..</p>
        <div class="read-more-date">
          <a href="#">Read More..</a>
          <span class="date">3 Hours ago</span>
        </div>
      </div>
    </div>

  </div>
  <ngb-pagination [collectionSize]="total" [pageSize]="limit" [(page)]="page" [maxSize]="2" [rotate]="true" (pageChange)="loadPage($event)"></ngb-pagination>
</masonry>

<masonry class="row mt-5" *ngIf="!(observable$ | async)">
  <masonry-brick class="col-md-4 mb-3" *ngFor="let item of createRange(6)">
    <div class="timeline-item">
      <div class="animated-background">
        <div class="background-masker image"></div>
        <div class="background-masker header-bottom"></div>
        ...
      </div>
    </div>
  </masonry-brick>
</masonry>


