<article class="card-group-item">
  <header class="card-header">
      <i class="icon-action fa fa-chevron-down"></i>
      <h6 class="title">Prix </h6>
  </header>
  <div class="filter-content collapse show" id="collapse33">
      <div class="card-body">
          <div class="custom-slider">
              <ng5-slider  class="custom-slider" [(value)]="min"  [(highValue)]="max" [options]="options" ></ng5-slider>
             </div>
          <div class="form-row">
              <div class="form-group col-md-6">
                  <label>Min</label>
                  <input class="form-control"  type="number" [(ngModel)]="min" >
              </div>
              <div class="form-group text-right col-md-6">
                  <label>Max</label>
                  <input class="form-control"  type="number"  [(ngModel)]="max" >
              </div>
          </div> <!-- form-row.// -->
          <button class="btn btn-block btn-outline-primary" (click)="filter()">Apply</button>
      </div> <!-- card-body.// -->
  </div> <!-- collapse .// -->
</article> <!-- card-group-item.// -->

min:{{(min)}}
max:{{(max)}}
floor:{{floor}}
ceil: {{ceil}}
