::ng-deep .custom-slider .ng5-slider .ng5-slider-bar {
  height: 2px;
}
::ng-deep .custom-slider .ng5-slider .ng5-slider-selection {
  background: #007bff;
}
::ng-deep .custom-slider .ng5-slider .ng5-slider-pointer {
  width: 10px;
  height: 18px;
  top: auto;
  /* to remove the default positioning */
  bottom: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
::ng-deep .custom-slider .ng5-slider .ng5-slider-pointer:after {
  display: none;
}
::ng-deep .custom-slider .ng5-slider .ng5-slider-bubble {
  bottom: 14px;
}
::ng-deep .custom-slider .ng5-slider .ng5-slider-limit {
  font-weight: bold;
  color: #007bff;
}
::ng-deep .custom-slider .ng5-slider .ng5-slider-tick {
  width: 1px;
  height: 10px;
  margin-left: 4px;
  border-radius: 0;
  background: #ffe4d1;
  top: -1px;
}
::ng-deep .custom-slider .ng5-slider .ng5-slider-tick.ng5-slider-selected {
  background: #007bff;
}
