<article class="card-group-item">
    <header class="card-header">
        <i class="icon-action fas fa-tags"></i>
        <h6 class="title">Catégories</h6>
    </header>
    <div style="" class="filter-content collapse show" id="collapse22">
        <div class="card-body">
            <div class="pb-3">
                <div class="input-group">
                    <input
                        class="form-control"
                        placeholder="Search"
                        [(ngModel)]="categoryQuery"
                        type="text"
                    >
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="button"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </div>

            <ul
                class="list-unstyled list-lg"
                *ngFor="let category of categories | search:'count,label':categoryQuery;"
            >
                <li>
                    <a (click)="!!filter(category)" href>
                        {{(category.label|jsonObject).name}}
                        <span class="float-right badge badge-light round">{{category.count}}</span>
                    </a>
                </li>
            </ul>
        </div> <!-- card-body.// -->
    </div> <!-- collapse .// -->
</article> <!-- card-group-item.// -->