<article class="card-group-item">
  <header class="card-header">
    <i class="icon-action fa fa-star-half"></i>
    <h6 class="title">Fournisseur </h6>
  </header>
  <div class="filter-content collapse show">
    <div class="card-body">
      <form  (submit)="submit(form.value)">
        <label  class="form-check" *ngFor="let supplier of suppliers;let i = index;">

          <input class="form-check-input" type="checkbox"
                 (change)="filter(supplier.label, $event.target.checked)"
                 [checked]="(filters|json).indexOf((supplier.label|jsonObject).id) >= 0"
           >
          <span class="form-check-label">
                <span class="float-right badge badge-light round">{{supplier.count}}</span>
                  {{(supplier.label|jsonObject).name}}
              </span>
        </label>
        <button class="btn btn-block btn-outline-primary">Apply</button>
      </form>
    </div> <!-- card-body.// -->
  </div> <!-- collapse .// -->
</article> <!-- card-group-item.// -->
<!--
[(checklist)]="list"
[checklistValue]="(supplier.label|jsonObject).id"
(change)="filter(supplier.label, $event.target.checked)"-->
